body{
  margin: 0;
}

.rectangulo {
    width: 100%;
    height: 20vh;
    background-color: #9B9393;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rectangulo p {
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-left: 75vh;
  }

  .cuadrado {
    width: 14vh;
    height: 14vh;
    background-color: #FFFFFF;
    position: absolute;
    top: 25px;
    left: 25px;
  }

  .cuadrado p {
    color: #000000;
    font-size: 4vh;
    font-weight: bold;
    text-align: center;
    margin-top: 4.8vh;
    margin-left: 0vh;
  }
  
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20vh;
    margin: 0;
  }

  .button_user{
    padding: 16px 33px;
    border-radius: 9px;
    background: #ffffff;
    border: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.4s;
    margin-left: 60vh;
    margin-top:-5vh;
    position: relative;
    text-align: center;
  }